/* Se importa de la api de google para colocar fuente sin decoracion en las letras */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

/* A todos los elementos del HTML se le van a aplicar las siguientes propiedades:
padding: 0 sirve para que no se cree un relleno (espacio alrededor del contenido de un elemento), dentro de los bordes definidos.
margin: 0 se utilizan para que no se cree un margen (espacio alrededor de los elementos), fuera de los bordes definidos.
*/
* {
  padding:0; 
  margin:0;  
}

/* Todos los elementos dentro de la etiqueta body van a tener:
tipo de fuente Montserrat, 
un fondo de la imagen llamada fondo-1 y
un color de texto blanco */
.contenedor-cuerpo {
    font-family: "Montserrat";
    background-image: url(./img/fondo-1.jpg);
    color: white;
}
  
/*CAROUSEL
Al elemento p con la clase .parrafo-carrusel, y al div del carousel con el id #carouselExampleControls se le asignan las siguientes propiedades:
margin: espacio alrededor del carrusel, fuera de los bordes definidos, arriba y abajo de 50px, e izquierda y derecha de auto
max-width: 1200px Un tamaño maximo de 1200px
align-content: center sirve para alinear el contenido al centro
*/
.parrafo-carrusel, #carouselExampleControls {
    margin: 50px auto;
    max-width: 1200px;
    align-content: center;
}



/*FORMULARIO
El div con el id #formulario va a tener un margin: espacio en la parte de arriba y abajo de 20px y en la parte izquierda y derecha de 20px*/
#formulario{
  margin: 20px 20px;
}

/*El parrafo con la clase .parrafo-formulario va a tener un margin: espacio en la parte de arriba y abajo de 40px y en la parte izquierda y derecha de auto*/
.parrafo-formulario{
  margin: 40px auto;
}
  
/*El boton con el id #btn-enviar va a tener un espacio en la parte de arriba y abajo de 20px y en la parte izquierda y derecha de 30px*/
#btn-enviar{
  margin: 20px 30px;
}

/*FOOTER*/
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  margin-bottom:0;
  opacity:0.6;
}